---
import Layout from "../../layouts/Layout.astro";
import {profile} from "../../settings";
import BetterIcon from "../../components/ui/BetterIcon.astro";
import List from "../../components/ui/List.astro";
import {RESEARCH_ICONS} from "../../data/researchIcons";

const {research_areas} = profile;

import {HelloComponent} from '@/components/HelloComponent';
import {ContactComponent} from "@/components/ContactComponent";

const helpText = "Helping binding";
---

<Layout title="Research | Dr. Marie Curie">
	<div class="flex justify-center items-center flex-col max-w-none">
		<h1 class="text-3xl font-bold mb-8">Contactez - moi</h1>

		<ContactComponent client:visible  name="Max"/>

	</div>
</Layout>
