---
import Layout from '../layouts/Layout.astro'
import { CvFr} from '../data/CvFr'
import CvTimeline from '../components/ui/CvTimeline.astro'

import List from '../components/ui/List.astro'
import {AnimatedTextComponent} from "../components/animation/AnimatedTextComponent";
import {WhitelistJoinComponent} from "../components/whitelist-join/whitelist-join";
const { experiences, formations, certifications,person } = CvFr;


---

<Layout title=`A propos de ${CvFr.person.fullName}`>

	<section class='mb-12 m-10'>
		<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
			<AnimatedTextComponent text= `A propos de ${person.fullName}`  timer=200 client:visible></AnimatedTextComponent>
		</h2>
		{person.infos}
	</section>
	{
		experiences.length > 0 && (
					<section class='mb-12'>
						<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
							Experiences
						</h2>
						<CvTimeline elements={experiences} colored={true} />
					</section>
		)
	}
	{
		formations.length > 0 && (
					<section class='mb-12'>
						<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
							Formations
						</h2>
						<CvTimeline elements={formations} colored={true} />
					</section>
		)
	}
	{
		certifications.length > 0 && (
					<section class='mb-12'>
						<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
							Certifications
						</h2>
						<CvTimeline elements={certifications} colored={true} />
					</section>
		)
	}
	<div class="mt-12 w-full">
		<WhitelistJoinComponent
				client:visible
				title="Envoyer un message"
				code="contact-message"
				plateforme="portfolio"
				status="NEW"
				description="Message depuis la page Contact"
				content="Message"
				enableMessage={true}
		/>
	</div>


</Layout>
