---
import Layout from '../layouts/Layout.astro'

import { Projects } from '../data/Projects'
import { Services } from '../data/Services'
import { CvFr } from '../data/CvFr'
import ProfilePictures from '../assets/coundia.png'
import Hero from '../components/ui/Hero.astro'
import Grid from '../components/ui/Grid.astro'
import ArticleList from '../components/ui/ArticleList.astro'
import {HomeFr} from "../data/HomeFr";

const { fullName, title, institute } = CvFr.person

---

<Layout title=`${CvFr.person.fullName}`>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<!--<section class='py-12 border-b'>-->
	<!--	<Grid gridTitle={HomeFr.projects} gridItems={Projects} />-->
	<!--</section>-->

	<section class='py-12 border-t'>
		<ArticleList listTitle={HomeFr.services} listItems={Services} />
	</section>
</Layout>
