---
import Layout from "../layouts/Layout.astro";
import { Projects } from "../data/Projects";
import {CvFr} from "../data/CvFr";
import { highlightAuthor } from "../lib/utils";
import {template} from "../data/settings";
import {AnimatedTextComponent} from "../components/animation/AnimatedTextComponent";

const getValidUrl = (url: string) => {
  return url.startsWith("http://") || url.startsWith("https://") ? url : `https://${url}`;
};
---

<Layout title=`Projets ${CvFr.person.fullName}`>
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">
      <AnimatedTextComponent text="Mes projets" timer=500 client:visible></AnimatedTextComponent>
    </h1>
    <div class="space-y-8">
      {
        Projects.map((project) => (
            <div class="card bg-base-200">
              <div class="card-body">
                <h2 class="card-title text-xl">
                  <a href={getValidUrl(project.link)} target="_blank" class="hover:text-accent">
                    {project.title}
                  </a>
                </h2>
                <h>{project.resume}</h>
                <p class="text-sm mb-3">
                  <span class="italic">{project.description}</span> • {project.time}
                </p>
                <p class="text-sm text-base-content/80">{project.abstract}</p>
                <div class="card-actions justify-end mt-4">
                  <a href={getValidUrl(project.link)} target="_blank" class="btn btn-sm btn-primary text-secondary-content">
                    Lire plus
                  </a>
                </div>
              </div>
            </div>
        ))
      }
    </div>

    <div class="flex justify-center mt-8">
      <div class="join">
        <button class="join-item btn btn-sm">«</button>
        <button class="join-item btn btn-sm">1</button>
        <button class="join-item btn btn-sm btn-active">2</button>
        <button class="join-item btn btn-sm">3</button>
        <button class="join-item btn btn-sm">»</button>
      </div>
    </div>
  </div>
</Layout>
