---
import Layout from '../layouts/Layout.astro'
import { CvFr} from '../data/CvFr'
import CvTimeline from '../components/ui/CvTimeline.astro'

import List from '../components/ui/List.astro'

const { experiences, formations, certifications } = CvFr;


---

<Layout>
	{
		experiences.length > 0 && (
					<section class='mb-12'>
						<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
							Experiences
						</h2>
						<CvTimeline elements={experiences} colored={true} />
					</section>
		)
	}
	{
		formations.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Formations
				</h2>
				<CvTimeline elements={formations} colored={true} />
			</section>
		)
	}
	{
		certifications.length > 0 && (
					<section class='mb-12'>
						<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
							Certifications
						</h2>
						<CvTimeline elements={certifications} colored={true} />
					</section>
		)
	}

</Layout>
