---
import { Image } from 'astro:assets'
import SocialIcons from './SocialIcons.astro'

import { HomeFr } from '@/data/HomeFr'

const { fullName, title, institute, profilePicture } = Astro.props

---

<div class="flex-1">
  <h1 class="text-5xl font-bold mb-6">
    <span class="text-primary">{fullName}</span>
  </h1>
  <p class="text-2xl text-gray-500 mb-4">
    {title} {institute ? `, ${institute}` : ''}
  </p>
  <p class="text-lg text-gray-700 mb-6">
    {HomeFr.presentation}
  </p>
  <div class="flex gap-4">
    <SocialIcons />
  </div>
</div>
<div class="size-72 hidden lg:block">
  <Image
      src={profilePicture}
      alt={fullName}
      class="w-full h-full rounded-full border-4 border-primary shadow-lg"
  />
</div>
